 DECLARE @tmpTable TABLE ([DeviceID] [varchar](100), [ID] [uniqueidentifier], [Team] [int], [Ally1] [int], [Ally2] [int], [Game] [int], [AutoDescendPlatform] [int], [AutoPlaceHatch] [int], [AutoPlaceCargo] [int], [TelePlaceHatchLow] [int], [TelePlaceHatchMed] [int], [TelePlaceHatchHigh] [int], [TelePlaceCargoLow] [int], [TelePlaceCargoMed] [int], [TelePlaceCargoHigh] [int], [TeleHabHeight] [int], [TeleDefensePlayed] [int], [Alliance] [varchar](100), [Station] [int], [CreatedAt] [datetime])
 MERGE FRCScoutingTeam3932 AS T USING @tmpTable AS S ON (T.ID = S.ID)
 WHEN NOT MATCHED BY TARGET THEN
 INSERT ([DeviceID], [ID], [Team], [Ally1], [Ally2], [Game], [AutoDescendPlatform], [AutoPlaceHatch], [AutoPlaceCargo], [TelePlaceHatchLow], [TelePlaceHatchMed], [TelePlaceHatchHigh], [TelePlaceCargoLow], [TelePlaceCargoMed], [TelePlaceCargoHigh], [TeleHabHeight], [TeleDefensePlayed], [Alliance], [Station], [CreatedAt]) VALUES
 (s.[DeviceID], s.[ID], s.[Team], s.[Ally1], s.[Ally2], s.[Game], s.[AutoDescendPlatform], s.[AutoPlaceHatch], s.[AutoPlaceCargo], s.[TelePlaceHatchLow], s.[TelePlaceHatchMed], s.[TelePlaceHatchHigh], s.[TelePlaceCargoLow], s.[TelePlaceCargoMed], s.[TelePlaceCargoHigh], s.[TeleHabHeight], s.[TeleDefensePlayed], s.[Alliance], s.[Station], s.[CreatedAt])
 WHEN MATCHED THEN
 UPDATE SET  T.[DeviceID] = S.[DeviceID], T.[ID] = S.[ID], T.[Team] = S.[Team], T.[Ally1] = S.[Ally1], T.[Ally2] = S.[Ally2], T.[Game] = S.[Game], T.[AutoDescendPlatform] = S.[AutoDescendPlatform], T.[AutoPlaceHatch] = S.[AutoPlaceHatch], T.[AutoPlaceCargo] = S.[AutoPlaceCargo], T.[TelePlaceHatchLow] = S.[TelePlaceHatchLow], T.[TelePlaceHatchMed] = S.[TelePlaceHatchMed], T.[TelePlaceHatchHigh] = S.[TelePlaceHatchHigh], T.[TelePlaceCargoLow] = S.[TelePlaceCargoLow], T.[TelePlaceCargoMed] = S.[TelePlaceCargoMed], T.[TelePlaceCargoHigh] = S.[TelePlaceCargoHigh], T.[TeleHabHeight] = S.[TeleHabHeight], T.[TeleDefensePlayed] = S.[TeleDefensePlayed], T.[Alliance] = S.[Alliance], T.[Station] = S.[Station], T.[CreatedAt] = S.[CreatedAt]
;
